/**
 * CSS variables for Predix Light Theme
 */

@import "px-colors-design/_settings.colors.scss";


html {
  // axis
  --px-vis-axis-color: $gray10;
  --px-vis-axis-title-color: $gray10;

  // tooltip
  --px-tooltip-text-color: $gray10;
  --px-tooltip-background-color: $white;
  --px-tooltip-border-color: $gray3;

  // heatmap
  --px-vis-heatmap-cell-border-color: $gray3;
  --px-vis-heatmap-cell-border-width: 1px;
  --px-vis-heatmap-cell-text-color: $gray18;
  --px-vis-heatmap-cell-text-size: 12px;

  // heatmap legend
  --px-vis-heatmap-legend-border-color: $gray3;
  --px-vis-heatmap-legend-border-width: 1px;
}
