/**
 * CSS variables for Predix Light Theme
 */

@import "px-colors-design/_settings.colors.scss";

html {
  // axis
  --px-vis-axis-color: $gray5;
  --px-vis-axis-title-color: $gray5;

  // tooltip
  --px-tooltip-text-color: $gray5;
  --px-tooltip-background-color: $gray16;
  --px-tooltip-border-color: $gray19;

  // heatmap
  --px-vis-heatmap-cell-border-color: $gray15;
  --px-vis-heatmap-cell-border-width: 1px;
  --px-vis-heatmap-cell-text-color: $gray2;
  --px-vis-heatmap-cell-text-size: 12px;
  // colors
  --px-vis-heatmap-colors-0: $aqua4;
  --px-vis-heatmap-colors-1: $green4;
  --px-vis-heatmap-colors-2: $yellow4;
  // alt theme colors?
  --px-vis-heatmap-colors-0: $blue6;
  --px-vis-heatmap-colors-1: $violet6;
  --px-vis-heatmap-colors-2: $red6;

  // heatmap legend
  --px-vis-heatmap-legend-border-color: $gray15;
  --px-vis-heatmap-legend-border-width: 1px;
}
