sudo: true
dist: trusty
language: node_js
node_js: 8.1

cache:
  yarn: true
  directories:
    - node_modules

addons:
  firefox: latest
  google-chrome: latest

install:
  - yarn
  - polymer install --variants

before_script:
  - xvfb-run -s '-screen 0 1024x768x24' wct

script:
  - if [[ "$TRAVIS_EVENT_TYPE" != "pull_request" ]]; then
      xvfb-run -s '-screen 0 1024x768x24' wct --env saucelabs;
    fi
  - if [[ "$TRAVIS_EVENT_TYPE" = "cron" ]]; then
      xvfb-run -s '-screen 0 1024x768x24' wct --env saucelabs-cron;
    fi
